<h1 mat-dialog-title>Import export file</h1>
<form [formGroup]="krakenForm" (submit)="krakenImport()">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Coin pair</mat-label>
      <input matInput formControlName="coinPairField" />
    </mat-form-field>
    <app-file-input formControlName="fileField"></app-file-input>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button type="submit" [disabled]="importKrakenCoinPairLoading()">
      <mat-icon *ngIf="importKrakenCoinPairLoading()">
        <mat-progress-spinner diameter="18" mode="indeterminate"> </mat-progress-spinner>
      </mat-icon>
      Create
    </button>
  </div>
</form>
