<div *ngIf="portfolio() as portfolio" class="app-container">
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>Name:</span>
      <span matListItemLine>{{ portfolio.name }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Tax Method:</span>
      <span matListItemLine>{{ portfolio.taxMethod }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>Fiat:</span>
      <span matListItemLine>{{ portfolio.fiat }}</span>
    </mat-list-item>
  </mat-list>

  <ngx-datatable
    class="material"
    [rows]="tableData().rows"
    [columns]="cols()"
    [columnMode]="columnMode()"
    [headerHeight]="50"
    [rowHeight]="rowHeight()"
    [footerHeight]="50"
    [loadingIndicator]="loading()"
    [scrollbarV]="true"
    [scrollbarH]="false"
    [virtualization]="true">
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template>
        <div class="footer-container">
          <strong>Total earn or lose:</strong>
          <img [src]="tableData().fiatImagePath" [alt]="tableData().fiat" class="table-coin-icon" />
          <span [ngClass]="tableData().totalEarnOrLoss.startsWith('-') ? 'warn' : 'success'"> {{ tableData().totalEarnOrLoss }}</span>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>

<ng-template #coinNameTmpl let-row="row" let-value="value">
  <img [src]="row.coinImagePath" [alt]="value" class="table-coin-icon" />
  <span>
    <strong>
      {{ value }}
    </strong>
  </span>
</ng-template>

<ng-template #coinWithValueTmpl let-row="row" let-value="value">
  <img [src]="row.coinImagePath" [alt]="row.coin" class="table-coin-icon" />
  <span>
    {{ value | number : '1.2-8' }}
  </span>
</ng-template>

<ng-template #fiatWithValueTmpl let-row="row" let-value="value">
  <img [src]="tableData().fiatImagePath" [alt]="tableData().fiat" class="table-coin-icon" />
  <span>
    {{ value | number : '1.2-2' }}
  </span>
</ng-template>

<ng-template #fiatWithValueWithColorTmpl let-row="row" let-value="value">
  <img [src]="tableData().fiatImagePath" [alt]="tableData().fiat" class="table-coin-icon" />
  <span [ngClass]="value?.startsWith('-') ? 'warn' : 'success'">
    {{ value | number : '1.2-2' }}
  </span>
</ng-template>
