<div class="portfolio-container">
  <mat-form-field appearance="fill" subscriptSizing="dynamic">
    <mat-label>Portfolio</mat-label>
    <mat-select (selectionChange)="portfolioSelected($event.value)">
      <mat-option *ngFor="let portfolio of portfolios()" [value]="portfolio">
        {{ portfolio.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-mini-fab color="primary" aria-label="Add a new portfolio." (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
