<app-portpholio></app-portpholio>

<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">info</mat-icon>
      Info
    </ng-template>
    <app-info></app-info>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">note_add</mat-icon>
      Exports
    </ng-template>
    <app-exports></app-exports>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">swap_horiz</mat-icon>
      Deposits
    </ng-template>
    <app-deposits></app-deposits>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">swap_horiz</mat-icon>
      Withdraws
    </ng-template>
    <app-withdraws></app-withdraws>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">swap_horiz</mat-icon>
      Transactions
    </ng-template>
    <app-transactions></app-transactions>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">savings</mat-icon>
      Earns
    </ng-template>
    <app-earns></app-earns>
  </mat-tab>
</mat-tab-group>
