<div *ngIf="portfolio()" class="app-container">
  <ngx-datatable
    class="material"
    [rows]="tableData().rows"
    [columns]="cols()"
    [columnMode]="columnMode()"
    [headerHeight]="50"
    [rowHeight]="rowHeight()"
    [footerHeight]="0"
    [loadingIndicator]="loadingIndicator()"
    [scrollbarV]="true"
    [scrollbarH]="false"
    [virtualization]="true">
  </ngx-datatable>
</div>

<ng-template #dateTmpl let-row="row" let-value="value">
  <span>
    {{ value | date : 'MM.dd.yyyy HH:mm:ss zzz' : 'UTC' }}
  </span>
</ng-template>

<ng-template #coinWithValueTmpl let-row="row" let-value="value">
  <img [src]="row.amountCoinImagePath" [alt]="row.amountCoin" class="table-coin-icon" />
  <span>
    {{ value | number : '1.2-8' }}
  </span>
</ng-template>
