<h1 mat-dialog-title>Create portfolio</h1>
<form [formGroup]="portfolioForm" (submit)="createPortfolio()">
	<div mat-dialog-content>
		<mat-form-field appearance="fill">
			<mat-label>Name</mat-label>
			<input matInput formControlName="nameField" />
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Tax method</mat-label>
			<mat-select formControlName="taxMethodField">
				<mat-option *ngFor="let taxMethod of taxMethodList" [value]="taxMethod.value">{{ taxMethod.value }}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field appearance="fill">
			<mat-label>Fiat</mat-label>
			<mat-select formControlName="fiatField">
				<mat-option *ngFor="let fiat of fiatList" [value]="fiat.value">{{ fiat.value }}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div mat-dialog-actions align="end">
		<button mat-button mat-dialog-close>Close</button>
		<button mat-button type="submit" [disabled]="loading">
			<mat-icon *ngIf="loading">
				<mat-progress-spinner diameter="20" mode="indeterminate" strokeWidth="11%"> </mat-progress-spinner>
			</mat-icon>
			Create
		</button>
	</div>
</form>
