<div *ngIf="portfolio()" class="app-container">
  <ngx-datatable
    class="material"
    [rows]="files()"
    [columns]="cols()"
    [columnMode]="columnMode()"
    [headerHeight]="50"
    [rowHeight]="rowHeight()"
    [footerHeight]="0"
    [loadingIndicator]="loading()"
    [scrollbarV]="true"
    [scrollbarH]="false"
    [virtualization]="true">
  </ngx-datatable>

  <button mat-fab color="primary" aria-label="Import a new export." (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
