<div *ngIf="portfolio()" class="app-container">
  <ngx-datatable
    class="material"
    [rows]="tableData().rows"
    [columns]="cols()"
    [columnMode]="columnMode()"
    [headerHeight]="50"
    [rowHeight]="rowHeight()"
    [footerHeight]="50"
    [loadingIndicator]="loadingIndicator()"
    [scrollbarV]="true"
    [scrollbarH]="false"
    [virtualization]="true">
    <ngx-datatable-footer>
      <ng-template ngx-datatable-footer-template>
        <div class="footer-container">
          <div>
            <strong>Total fee gains:</strong>
            <img [src]="tableData().fiatImagePath" [alt]="tableData().fiat" class="table-coin-icon" />
            <span [ngClass]="tableData().totalFeeGains.startsWith('-') ? 'warn' : 'success'"> {{ tableData().totalFeeGains }}</span>
          </div>
          <div>
            <strong>Total fee expenses:</strong>
            <img [src]="tableData().fiatImagePath" [alt]="tableData().fiat" class="table-coin-icon" />
            <span [ngClass]="tableData().totalFeeExpenses.startsWith('-') ? 'warn' : 'success'"> {{ tableData().totalFeeExpenses }}</span>
          </div>
          <div>
            <strong>Total trade gains:</strong>
            <img [src]="tableData().fiatImagePath" [alt]="tableData().fiat" class="table-coin-icon" />
            <span [ngClass]="tableData().totalTradeGains.startsWith('-') ? 'warn' : 'success'"> {{ tableData().totalTradeGains }}</span>
          </div>
          <div>
            <strong>Total trade expenses:</strong>
            <img [src]="tableData().fiatImagePath" [alt]="tableData().fiat" class="table-coin-icon" />
            <span [ngClass]="tableData().totalTradeExpenses.startsWith('-') ? 'warn' : 'success'"> {{ tableData().totalTradeExpenses }}</span>
          </div>
          <div>
            <strong>Total earn or lose:</strong>
            <img [src]="tableData().fiatImagePath" [alt]="tableData().fiat" class="table-coin-icon" />
            <span [ngClass]="tableData().totalEarnOrLose.startsWith('-') ? 'warn' : 'success'"> {{ tableData().totalEarnOrLose }}</span>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>

<ng-template #dateTmpl let-row="row" let-value="value">
  <span>
    {{ value | date : 'MM.dd.yyyy HH:mm:ss zzz' : 'UTC' }}
  </span>
</ng-template>

<ng-template #coinWithValueTmpl let-col="column" let-row="row" let-value="value">
  <img [src]="row[col.extraData.coinImagePath]" [alt]="row[col.extraData.coin]" class="table-coin-icon" />
  <span>
    {{ value | number : '1.2-2' }}
  </span>
</ng-template>

<ng-template #fiatWithValueTmpl let-row="row" let-value="value">
  <img [src]="tableData().fiatImagePath" [alt]="tableData().fiat" class="table-coin-icon" />
  <span>
    {{ value | number : '1.2-2' }}
  </span>
</ng-template>

<ng-template #fiatWithValueWithColorTmpl let-row="row" let-value="value">
  <img [src]="tableData().fiatImagePath" [alt]="tableData().fiat" class="table-coin-icon" />
  <span [ngClass]="value?.startsWith('-') ? 'warn' : 'success'">
    {{ value | number : '1.2-2' }}
  </span>
</ng-template>
