@import '@angular/material/prebuilt-themes/indigo-pink.css';

img.table-coin-icon {
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

th.mat-header-cell {
  font-weight: bold;
}

td.mat-footer-cell {
  font-weight: bold;
}
